AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=eu-north-1
IKANOBANK_DB_SECRET_ID=application-db
IKANOBANK_DB_INSTANCE_ID=ikanobank-onbording-db
IKANOBANK_DB_NAME=ikanobank-onbording-db
IKANOBANK_DB_USERNAME=admin
IKANOBANK_DB_PASSWORD=admin
IKANOBANK_DB_MASTER_USERNAME=masteradmin
IKANOBANK_DB_MASTER_PASSWORD=
IKANOBANK_DB_INSTANCE_CLASS=db.t4g.micro
IKANOBANK_DB_ALLOCATED_STORAGE=20
IKANOBANK_DB_ENGINE_VERSION=
